html
{
	height:100%;
	max-width:100%;
}
body
{
	padding-top:25px;
	max-width:100%;
	min-height:100%;
}
nav.horizontal{display:none;}
/* nav.horizontal
{
	display:flex;
	background-color:black;
	z-index:999;
	position:fixed;
	width:100%;
	top:0;
	left:0;
}

nav.horizontal ul
{
	list-style-type:none;
	width:100%;
	z-index:999;
	position:relative;
}
nav.horizontal ul li
{
	width:20%;
	float:left;
	z-index:999;
	position:relative;
}
ul.submenu
{
	display:none;
	z-index:999;
	position:fixed;
}

ul.submenu li
{
	float:none;
	clear:both;
	z-index:999;
	position:relative;
}

a.submenuTitle:hover, a.submenuTitle:hover+ul.submenu, ul.submenu:hover
{
	display:block;
} */

#row1
{
	background-color:yellow;
}

#row2
{
	background-color:#c4c4c4;;
}

.flexbox
{
	display:flex;
}

.flexRow
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.flexCol
{
	border:1px solid black;
	display:flex;
	flex-direction:column;
	/*min-width:550px;*/
	/*width:50%;*/
	flex-wrap:wrap;
	flex:1 1 500px;
}